body {
  background: #FCFCFC;
}

.logo {
  width: 52px;
}

.header {
  margin: auto;
  background: rgba(252, 252, 252, 0.02);
  width: 1800px;
  height: 90px;
  background: #FCFCFC;
}

.burger {
  display: none;
}

.h1 {
  display: none;
}

.head_container {
  width: 100%;
}

.flex_row_a-c {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex_row_sb_c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  padding: 0;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: darkblue;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
}

.user {
  width: 52px;
}

.h-52 {
  height: 52px;
}

.nav_menu {
  width: 984px;
}

.main {
  width: 1920px;
  background: #FCFCFC;
}

.flex_column_c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oops {
  position: relative;
}

.er404_1920 {
  position: absolute;
  top: 44px;
  left: 293px;
  z-index: 0;
  user-select: none;
}

.er404_640 {
  display: none;
  position: absolute;
  z-index: 0;
  user-select: none;
  width: 191px;
  height: 91px;
}

.oops h3, .oops p {
  position: relative;
  z-index: 1;
}

.mt-20 {
  margin-top: 20px;
}

.M-normal-bold-36-145-c {
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  text-align: center;
}

.color-darkblue {
  color: #080029;
}

.R-normal-normal-24-154-c {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 154%;
  text-align: center;
}

.R-normal-500-18-21-c {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.color-white {
  color: #FCFCFC;
}

.w-309 {
  width: 309px;
}

.h-60 {
  height: 60px;
}

.back:hover {
  cursor: pointer;
  background: #080029;
  border-radius: 5px;
  border: #080029;
  outline: none;
}

.back:active {
  cursor: pointer;
  background: #150068;
  border-radius: 5px;
  border: #150068;
  outline: none;
}

.back {
  background: #0F0049;
  border-radius: 5px;
  border: #0F0049;
  outline: none;
}

.w-867 {
  width: 867px;
}

.h-74 {
  height: 74px;
}

.pmt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-116 {
  margin-top: 116px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.w-900 {
  width: 900px;
}

.h-507 {
  height: 507px;
}

.R-normal-normal-18-154-c {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  text-align: center;
}

.color-gray {
  color: #747474;
}

.here {
  cursor: pointer;
  text-decoration: underline;
  color: #3888FF;
}

.w-425 {
  width: 425px;
}

.h-56 {
  height: 56px;
}

@media screen and (max-width: 1200px) and (min-width: 641px) {

  .M-normal-bold-36-145-c {
    font-size: 28px;
    line-height: 145%;
  }

  .R-normal-normal-24-154-c {
    font-size: 18px;
  }

  .R-normal-500-18-21-c {
    font-size: 16px;
    line-height: 19px;
  }

  .main {
    width: 1200px;
  }

  .nav_menu {
    width: 824px;
  }

  .mt-20 {
    margin-top: 60px;
  }

  .mt-116 {
    margin-top: 98px;
  }

  .mt-50 {
    margin-top: 40px;
  }

  .er404_1920 {
    width: 238px;
    height: 107px;
    left: 206px;
  }

  .w-900 {
    width: 832px;
  }

  .h-507 {
    height: 469px;
  }

  .w-309 {
    width: 261px;
  }

  .h-60 {
    height: 50px;
  }

  .w-867 {
    width: 651px;
  }

  .h-74 {
    height: 56px;
  }

  .h-56 {
    height: 50px;
  }

  .header {
    width: 1120px;
    height: 70px;
  }

  .logo {
    width: 41.5px;
  }

  .user {
    width: 42px;
  }

  .h-52 {
    height: 42px;
  }

}

@media screen and (max-device-width: 640px) and (min-device-width: 321px), screen and (max-width: 640px) and (min-width: 321px) {

  .M-normal-bold-36-145-c {
    font-size: 26px;
    line-height: 145%;
  }

  .R-normal-normal-24-154-c {
    font-size: 16px;
  }

  .R-normal-500-18-21-c {
    font-size: 16px;
    line-height: 19px;
  }

  .main {
    width: 640px;
  }

  .burger,
  .burger::before,
  .burger::after {
    display: block;
    position: relative;
    width: 55px;
    height: 5px;
    background-color: #0F0049;
  }
  .burger::before {
    content: '';
    top: -15px;
  }
  .burger::after {
    content: '';
    top: 10px;
  }

  .menu li:not(:first-child) {
    display: none;
  }

  .nav_menu {
    width: 50px;
  }

  .logo {
    margin-left: 20px;
  }

  .burger {
    margin-right: 20px;
  }

  .mt-20 {
    margin-top: 60px;
  }

  .mt-116 {
    margin-top: 98px;
  }

  .pmt-30 {
    margin-top: 25px;
  }

  .mt-50 {
    margin-top: 35px;
  }

  .er404_1920 {
    display: none;
  }

  .er404_640 {
    display: block;
    top: 40px;
    left: 194px;
  }

  .w-900 {
    width: 600px;
  }

  .h-507 {
    height: 338px;
  }

  .w-309 {
    width: 261px;
  }

  .h-60 {
    height: 50px;
  }

  .w-867 {
    width: 578px;
  }

  .h-74 {
    height: 50px;
  }

  .h-56 {
    height: 50px;
  }

  .header {
    width: 640px;
    height: 88px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }

  .logo {
    width: 41.5px;
  }

  .user {
    display: none;
  }

  .h-52 {
    height: 42px;
  }

  .mt-80 {
    margin-top: 70px;
  }

  .mt-60 {
    margin-top: 40px;
  }

  .mb-80 {
    margin-bottom: 60px;
  }

}
