body {
  background: #FCFCFC;
}

.logo {
  width: 52px;
}

.header {
  background: rgba(252, 252, 252, 0.02);
  width: 93.75vw;
  height: 90px;
  background: #FCFCFC;
}

.h1 {
  display: none;
}

.head_container {
  width: 100%;
}

.flex_row_sb_c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  padding: 0;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: darkblue;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
}

.user {
  height: 52px;
}

.user img {
  width: 52px;
}

.nav_menu {
  width: 984px;
}

.main {
  width: 100vw;
  background: #FCFCFC;
}

.flex_column_c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oops {
  position: relative;
}

.er404 {
  position: absolute;
  top: 44px;
  left: 293px;
  z-index: 0;
  user-select: none;
}

.oops h3, .oops p {
  position: relative;
  z-index: 1;
}

.mt-20 {
  margin-top: 20px;
}

.M-normal-bold-36-145-c {
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  text-align: center;
}

.color-darkblue {
  color: #080029;
}

.R-normal-normal-24-154-c {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 154%;
  text-align: center;
}

.R-normal-500-18-21-c {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.color-white {
  color: #FCFCFC;
}

.back:hover {
  cursor: pointer;
  width: 309px;
  height: 61px;
  background: #080029;
  border-radius: 5px;
  border: #080029;
  outline: none;
}

.back:active {
  cursor: pointer;
  width: 309px;
  height: 61px;
  background: #150068;
  border-radius: 5px;
  border: #150068;
  outline: none;
}

.back {
  width: 309px;
  height: 61px;
  background: #0F0049;
  border-radius: 5px;
  border: #0F0049;
  outline: none;
}

.w-867 {
  width: 867px;
}

.h-74 {
  height: 74px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-116 {
  margin-top: 116px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.w-900 {
  width: 900px;
}

.h-507 {
  height: 507px;
}

.R-normal-normal-18-154-c {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  text-align: center;
}

.color-gray {
  color: #747474;
}

.here {
  cursor: pointer;
  text-decoration: underline;
  color: #3888FF;
}

.w-425 {
  width: 425px;
}

.h-56 {
  height: 56px;
}
