.logo {
  width: 52px;
}

.border {
  margin-top: 23px;
  width: 90px;
  border-top: 2px solid #F0F0F0;;
}

.arrow {
  width: 48px;
}

.side_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 3.125vw;
  width: 90px;
  height: 760px;
  background: rgb(252, 252, 252);
  border: 2px solid #F0F0F0;
  box-sizing: border-box;
  padding: 23px 0 100px 0;
}

.nav_side {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 172px;
}

.div_logo {
  height: 40px;
}

.div_arrow {
  margin-top: 100px;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.div_arrow:hover, .div_arrow:active {
  background: lightgray;
  box-shadow: 0 0 5px lightgray;
}