.w-1434 {
  width: 1434px;
}

.w-153 {
  width: 153px;
}

.h-117 {
  height: 117px;
}

.w-100 {
  width: 100%;
}

.h2_foot {
  width: 273px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #FCFCFC;
}

.foot_nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mt-30 {
  margin-top: 30px;
}

.a_nav {
  height: 28px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #BCBCBC;
  text-decoration: none;
}

.footer {
  background: #0B0B0B;
  width: 1920px;
  height: 766px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.mt-150 {
  margin-top: 150px;
}

.h-132 {
  height: 132px;
}

.copyright {
  border-top: 1px solid #747474;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.p_copyright {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #BCBCBC;
}

.sup {
  display: flex;
  flex-direction: column;
}

.w-339 {
  width: 339px;
}

.h-61 {
  height: 61px;
}

.donate {
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
  outline: none;
}

.donate:hover {
  background: #0F0049;
  cursor: pointer;
}

.donate:active {
  background: #150068;
  cursor: pointer;
}

.mt-43 {
  margin-top: 43px;
}

.a_sup {
  text-decoration: none;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #BCBCBC;
}

.links {
  margin-top: 85px;
  width: 339px;
}

.flex_row_sb_c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex_row_sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.w-303 {
  width: 303px;
}

.w-118 {
  width: 118px;
}

.w-128 {
  width: 128px;
}

.x {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FCFCFC;
}

.column {
  display: flex;
  flex-direction: column;
}

.h-62 {
  height: 62px;
}

.mt-192 {
  margin-top: 192px;
}

.h-47 {
  height: 47px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.description {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18.5px;
  line-height: 154%;
}

.w-332 {
  width: 332px;
}

.h-84 {
  height: 84px;
}

.gray {
  color: #BCBCBC;
}

.R-normal-normal {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.fs-185_ln-154 {
  font-size: 18.5px;
  line-height: 154%;
}

.mb-0 {
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {

  .footer {
    width: 1200px;
    height: 720px;
  }

  .w-1434 {
    width: 1120px;
  }

  .h-132 {
    height: 103px;
  }

  .mt-150 {
    margin-top: 133px;
  }

  .w-303 {
    width: 128px;
  }

  .w-153 {
    width: 119px;
  }

  .h-117 {
    height: 91px;
  }

  .mt-192 {
    margin-top: 103px;
  }

  .school {
    width: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .h-62 {
    height: 176px;
  }

  .a_sup {
    font-size: 22px;
    line-height: 26px;
  }

  .foot_nav {
    width: 133px;
  }

  .links {
    margin-top: 93px;
    width: 409px;
  }

}

@media screen and (max-width: 640px) and (min-width: 321px) {

  .fs-185_ln-154 {
    font-size: 16px;
  }

  .footer {
    width: 640px;
    height: 700px;
  }

  .p_copyright {
    font-size: 14px;
  }

  .w-1434 {
    width: 600px;
  }

  .h-132 {
    height: 60px;
  }

  .mt-150 {
    margin-top: 60px;
  }

  .w-303 {
    width: 474px;
  }

  .w-153 {
    width: 95px;
  }

  .h-117 {
    height: 74px;
  }

  .mt-192 {
    margin-top: 103px;
  }

  .foot_up {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .school {
    margin-top: 0;
    width: 264px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 80px;
  }

  .w-118 {
    width: 93px;
  }

  .h-62 {
    height: 49px;
  }

  .w-128 {
    width: 102px;
  }

  .a_sup {
    font-size: 22px;
    line-height: 26px;
  }

  .foot_nav {
    width: 133px;
    margin-top: 60px;
  }

  .links {
    margin-top: 50px;
    width: 390px;
  }

  .sup {
    margin-top: 60px;
  }

  .a_nav {
    font-size: 16px;
    height: 25px;
  }

  .donate {
    font-size: 16px;
    line-height: 19px;
  }

  .w-339 {
    width: 318px;
  }

  .h-61 {
    height: 59px;
  }

  .mt-43 {
    margin-top: 30px;
  }

}
