.header {
  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #F0F0F0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93.75vw;
  height: 90px;
  padding: 0 92px 0 184px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: darkblue;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
}

.nav_menu {
  width: 800px;
}

.nav_link + div {
  align-items: center;
}

.user {
  height: 52px;
}

.user img {
  width: 52px;
}

.h1 {
  display: none;
}