

.first_screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 755px;
}

.watch {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 699px;
  height: 493px;
}

.empty {
  width: 39px;
}

.first_screen h2 {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #626262;
}

.first_screen p {
  margin: 0;
  margin-top: 25px;
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 106px;
  color: #080029;
}

.panda_img {
  margin-top: 55px;
  height: 673px;
}

.panda {
  border-radius: 5px;
}

.btn_choose:hover {
  cursor: pointer;
  width: 250px;
  height: 61px;
  border: 2px solid #080029;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #080029;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
}

.btn_choose:active {
  outline: none;
  width: 250px;
  height: 61px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #150068;
  border-radius: 5px;
  border-color: #150068;
  color: #FCFCFC;
}

.btn_choose {
  width: 250px;
  height: 61px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #0F0049;
  border-radius: 5px;
  border-color: #0F0049;
  color: #FCFCFC;
}

.btn_watch:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  width: 261px;
  height: 61px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: transparent;
  border-radius: 5px;
  border-color: #080029;
  color: #0F0049;
}

.btn_watch:active {
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  width: 261px;
  height: 61px;
  border: 2px solid #3888FF;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #0F0049;
}

.btn_watch {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  width: 261px;
  height: 61px;
  border: 2px solid #0F0049;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #0F0049;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 573px;
}

.second_screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 980px;
}

.empty2 {
  width: 10px;
}

.catwild {
  display: flex;
  flex-direction: row;
  width: 699px;
  height: 760px;
  margin-top: 110px;
}

.cat {
  width: 512px;
  height: 760px;
}

.wildcat {
  border-radius: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 696px;
  height: 478px;
  margin-top: 249px;
}

.mt-0 {
  margin-top: 0;
}

.font_text_title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}

.font_text {
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}

.mt-40 {
  margin-top: 40px;
}

.mt-41 {
  margin-top: 41px;
}

.mt-47 {
  margin-top: 47px;
}

.description {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18.5px;
  line-height: 154%;
  color: #747474;
}

.try:hover {
  cursor: pointer;
  width: 218px;
  height: 61px;
  border: 2px solid #080029;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #080029;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
}

.try:active {
  outline: none;
  width: 218px;
  height: 61px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #150068;
  border-radius: 5px;
  border-color: #150068;
  color: #FCFCFC;
}

.try {
  margin-top: 60px;
  width: 218px;
  height: 61px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #0F0049;
  border-radius: 5px;
  border-color: #0F0049;
  color: #FCFCFC;
}

.third {
  display: flex;
  width: 1920px;
  background: #D9E8FF;
  justify-content: center;
}

.third_screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 896px;
}

.pets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 326px;
  height: 364px;
  margin-top: 305px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mb-0 {
  margin-bottom: 0;
}

.slide {
  padding: 0;
  width: 65px;
  height: 65px;
  background: #D9E8FF;
  border: none;
  box-sizing: border-box;
  outline: none;
}

.slide:hover, .slide:active {
  cursor: pointer;
  box-shadow: 0 0 15px deepskyblue;
  padding: 0;
  width: 65px;
  height: 65px;
  background: deepskyblue;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
}

.slide_img {
  width: 65px;
}

.right {
  margin-left: 20px;
}

.slide_btns {
  height: 65px;
  width: 155px;
}

.pictures {
  margin-left: 44px;
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1064px;
}

.ac1, .ac2, .ac3, .ac4, .ac5, .ac6 {
  width: 328px;
  height: 328px;
}

.div_img {
  width: 328px;
  height: 328px;
}

.backgrounds {
  border-radius: 5px;
}

.block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.picture:hover .backgrounds{
  transform: scale(1.1);
  transition: transform 0.3s;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  filter: blur(1px);
}

.names {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
  opacity: 0.8;
}

.follow {
  position: absolute;
  opacity: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
}

.btns_span_plus {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 145%;
  text-align: center;
  color: #FCFCFC;
  opacity: 0.8;
}

.btns_span_text {
  position: absolute;
  opacity: 0;
  width: 189px;
  font-size: 18px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 154%;
  text-align: center;
  color: #FCFCFC;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
  border-radius: 100%;
  box-sizing: border-box;
}

.picture:hover .names {
  display: none;
}

.picture:hover .btns_span_plus {
  display: none;
}

.picture:hover .follow {
  position: static;
  display: block;
  opacity: 1;
  transition: opacity 0.5s;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
}

.picture:hover .btns_span_text {
  position: static;
  display: inline;
  opacity: 1;
  transition: opacity 0.5s;
  width: 189px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  text-align: center;
  color: #FCFCFC;
}

.picture:hover .btns {
  transition: all 0.3s;
  width: 238px;
  height: 238px;
  background: rgba(11, 11, 11, 0.1);
  border: 2px solid rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 5px;
}

.logo-chb {
  width: 153px;
  height: 117px;
}

.w-100 {
  width: 100%;
}

.h2_foot {
  width: 273px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #FCFCFC;
}

.foot_nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mt-30 {
  margin-top: 30px;
}

.a_nav {
  height: 28px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: #BCBCBC;
  text-decoration: none;
}

.footer {
  background: #0B0B0B;
  width: 1920px;
  height: 766px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  margin-top: 100px;
  width: 1434px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  margin-top: 150px;
  width: 1434px;
  height: 132px;
  border-top: 1px solid #747474;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.p_copyright {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #BCBCBC;
}

.sup {
  display: flex;
  flex-direction: column;
  width: 339px;
}

.donate {
  width: 339px;
  height: 61px;
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
  outline: none;
}

.donate:hover {
  background: #150068;
  cursor: pointer;
}

.grey-332-84 {
  width: 332px;
  height: 84px;
  color: #BCBCBC;
}

.mt-43 {
  margin-top: 43px;
}

.a_sup {
  text-decoration: none;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #BCBCBC;
}

.links {
  margin-top: 85px;
}

.flex_row_sb_c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex_row_sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.w-303 {
  width: 303px;
}

.w-118 {
  width: 118px;
}

.w-128 {
  width: 128px;
}

.x {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FCFCFC;
}

.column {
  display: flex;
  flex-direction: column;
}

.h-62 {
  height: 62px;
}

.mt-192 {
  margin-top: 192px;
}

.h-47 {
  height: 47px;
}

.mb-25 {
  margin-bottom: 25px;
}

.fourth_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FCFCFC;
}

.fourth_screen {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1434px;
  height: 1300px;
}

.fourth_screen h2 {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
  width: 133px;
}

.w-824 {
  width: 824px;
}

.h-312 {
  height: 312px;
}

.w-312 {
  width: 312px;
}

.w-456 {
  width: 456px;
}

.h-166 {
  height: 166px;
}

.fourth_screen_h3 {
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #0F0049;
}

.ml-184 {
  margin-left: 184px;
}

.ml-736 {
  margin-left: 736px;
}


.mt-100 {
  margin-top: 100px;
}

.mt-104 {
  margin-top: 104px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-14 {
  margin-top: 14px;
}

.vector {
  position: absolute;
  left: 658px;
  top: 414px;
  width: 197px;
  height: 97px;
}

.vector_2 {
  position: absolute;
  left: 469.5px;
  top: 674.5px;
  width: 240.5px;
  height: 194.5px;
}

.mt-60 {
  margin-top: 60px;
}