.h-755 {
  height: 755px;
}

.flex_row_j-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_column_sb_fx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.mt-130 {
  margin-top: 130px;
}

.w-699 {
  width: 699px;
}

.h-493 {
  height: 493px;
}

.w-39 {
  width: 39px;
}

.color-darkgray {
  color: #626262;
}

.mt-25 {
  margin-top: 25px;
}

.color-darkpurple {
  color: #080029;
}

.R-normal-normal {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.M-normal-bold {
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.fs-84_ln-106px {
  font-size: 84px;
  line-height: 106px;
}

.fs-22_ln-26_ls-0115 {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
}

.h-673 {
  height: 673px;
}

.br-5 {
  border-radius: 5px;
}

.R-normal-500 {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.w-250 {
  width: 250px;
}

.h-61 {
  height: 61px;
}

.bs-bb {
  box-sizing: border-box;
}

.b-2_solid {
  border: 2px solid;
}

.fs-18_ln-21 {
  font-size: 18px;
  line-height: 21px;
}

.ta-c {
  text-align: center;
}

.color-white {
  color: #FCFCFC;
}

.ds-044 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.w-261 {
  width: 261px;
}

/*.backc-dp {
  background-color: #080029;
}

.bc-dp {
  border-color: #080029;
}

.backc-lp {
  background-color: #150068;
}

.bc-lp {
  border-color: #150068;
}

.backc-p {
  background-color: #0F0049;
}

.bc-p {
  border-color: #0F0049;
}*/

.backc-none {
  background-color: transparent;
}

.color-purple {
  color: #0F0049;
}

.btn_choose:hover {
  cursor: pointer;
  border-color: #080029;
  background-color: #080029;
}

.btn_choose:active {
  outline: none;
  background: #150068;
  border-radius: 5px;
  border-color: #150068;
}

.btn_choose {
  background: #0F0049;
  border-color: #0F0049;
}

.btn_watch:hover {
  cursor: pointer;
  border-color: #080029;
}

.btn_watch:active {
  outline: none;
  border-color: #3888FF;
}

.btn_watch {
  border-color: #0F0049;
}

.w-573 {
  width: 573px;
}

.flex_row_sb_c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.h-980 {
  height: 980px;
}

.w-10 {
  width: 10px;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.h-760 {
  height: 760px;
}

.mt-110 {
  margin-top: 110px;
}

.w-512 {
  width: 512px;
}

.flex_column_a-fs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.w-696 {
  width: 696px;
}

.h-478 {
  height: 478px;
}

.mt-249 {
  margin-top: 249px;
}

.mt-0 {
  margin-top: 0;
}

.color-dark {
  color: #0b0b0b;
}

.fs-36_ln-145 {
  font-size: 36px;
  line-height: 145%;
}

.mt-40 {
  margin-top: 40px;
}

.mt-41 {
  margin-top: 41px;
}

.mt-47 {
  margin-top: 47px;
}

.fs-185_ln-154 {
  font-size: 18.5px;
  line-height: 154%;
}

.color-gray {
  color: #747474;
}

.w-218 {
  width: 218px;
}

.mt-60 {
  margin-top: 60px;
}

.btn_try:hover {
  cursor: pointer;
  border-color: #080029;
  background-color: #080029;
}

.btn_try:active {
  outline: none;
  background-color: #150068;
  border-color: #150068;
}

.btn_try {
  background-color: #0F0049;
  border-color: #0F0049;
}

.w-1920 {
  width: 1920px;
}

.backc-lightblue {
  background-color: #d9e8ff;
}

.h-896 {
  height: 896px;
}

.w-326 {
  width: 326px;
}

.h-364 {
  height: 364px;
}

.mt-305 {
  margin-top: 305px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mb-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.w-65 {
  width: 65px;
}

.h-65 {
  height: 65px;
}

.slide {
  border: none;
  outline: none;
}

.slide:hover, .slide:active {
  cursor: pointer;
  background-color: deepskyblue;
  border-radius: 50%;
}

.ml-20 {
  margin-left: 20px;
}

.w-155 {
  width: 155px;
}

.ml-44 {
  margin-left: 44px;
}

.mt-100 {
  margin-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.flex_row_sb_sb_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.w-1064 {
  width: 1064px;
}

.div_img {
  width: 328px;
  height: 328px;
}

.pos-abs {
  position: absolute;
}

.flex_column_fe_c {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.backgrounds {
  transition: transform 0.3s;
  border-radius: 5px;
}

.picture:hover .backgrounds{
  transform: scale(1.1);
  transition: transform 0.3s;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  filter: blur(1px);
}

.names {
  margin-top: 43px;
  margin-bottom: 25px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
  opacity: 0.8;
}

.follow {
  margin-bottom: 20px;
  margin-top: 14px;
  position: absolute;
  opacity: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
  user-select: none;
}

.btns_span_plus {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 145%;
  text-align: center;
  color: #FCFCFC;
  opacity: 0.8;
}

.btns_span_text {
  position: absolute;
  opacity: 0;
  width: 189px;
  font-size: 18px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 154%;
  text-align: center;
  color: #FCFCFC;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
  border-radius: 100%;
  box-sizing: border-box;
}

.picture:hover .names {
  display: none;
}

.picture:hover .btns_span_plus {
  display: none;
}

.picture:hover .follow {
  position: static;
  display: block;
  opacity: 1;
  transition: opacity 0.5s;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
}

.picture:hover .btns_span_text {
  position: static;
  display: inline;
  opacity: 1;
  transition: opacity 0.5s;
  width: 189px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  text-align: center;
  color: #FCFCFC;
}

.picture:hover .btns {
  transition: all 0.3s;
  width: 238px;
  height: 238px;
  background: rgba(11, 11, 11, 0.1);
  border: 2px solid rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.mt-30 {
  margin-top: 30px;
}

.mt-43 {
  margin-top: 43px;
}

.flex_row_sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.w-303 {
  width: 303px;
}

.w-118 {
  width: 118px;
}

.w-128 {
  width: 128px;
}

.column {
  display: flex;
  flex-direction: column;
}

.h-62 {
  height: 62px;
}

.mt-192 {
  margin-top: 192px;
}

.h-47 {
  height: 47px;
}

.mb-25 {
  margin-bottom: 25px;
}

.flex_column_a-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pos-rel {
  position: relative;
}

.h-1300 {
  height: 1300px;
}

.w-824 {
  width: 824px;
}

.h-312 {
  height: 312px;
}

.w-312 {
  width: 312px;
}

.w-456 {
  width: 456px;
}

.h-166 {
  height: 166px;
}

.color-darkblue {
  color: #0F0049;
}

.ml-184 {
  margin-left: 184px;
}

.ml-736 {
  margin-left: 736px;
}

.mt-104 {
  margin-top: 104px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-14 {
  margin-top: 14px;
}

.w-197 {
  width: 197px;
}

.h-97 {
  height: 97px;
}

.vector {
  left: 658px;
  top: 414px;
}

.vector_2 {
  left: 469.5px;
  top: 674.5px;
  width: 240.5px;
  height: 194.5px;
}

.backc-dp {
  background-color: #080029;
}

.flex_row_a-c {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h-616 {
  height: 616px;
}

.mt-62 {
  margin-top: 62px;
}

.w-1434 {
  width: 1434px;
}

.w-286 {
  width: 286px;
}

.feedback {
  outline: none;
  border-color: #FCFCFC;
  background: transparent;
}

.feedback:hover {
  cursor: pointer;
  background: #0F0049;
}

.feedback:active {
  cursor: pointer;
  background: #150068;
}

.ml-40 {
  margin-left: 40px;
}

.td-none {
  text-decoration: none;
}

.review {
  height: 273px;
  background: #FCFCFC;
  border-radius: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.avatar {
  width: 46px;
  height: 46px;
}

.reviewer {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #0B0B0B;
  margin-left: 19px;
}

.comment {
  color: #181818;
  width: 432px;
}

.w-150 {
  width: 150px;
}

.slide_review {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #FCFCFC;
}

.slide_review:hover {
  background: deepskyblue;
}

.span {
  height: 42px;
  font-size: 33px;
  display: flex;
  justify-content: center;
}

.h-862 {
  height: 862px;
}

.ml-244 {
  margin-left: 244px;
}

.color-black {
  color: black;
}

.w-344 {
  width: 344px;
}

.h-218 {
  height: 218px;
}

.box {
  box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  overflow: hidden;
}

.watch_now {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #3888FF;
}

.fs-22 {
  font-size: 22px;
}

.w-264 {
  width: 264px;
}

.mt-52 {
  margin-top: 52px;
}

.mb-40 {
  margin-bottom: 40px;
}

.w-1223 {
  width: 1223px;
}

.h-700 {
  height: 700px;
}

.ml-24 {
  margin-left: 24px;
}

.marks {
  position: absolute;
  width: 69px;
  height: 89px;
}

.markers {
  filter: drop-shadow(1px 12px 20px rgba(0, 0, 0, 0.17));
  width: 100%;
  overflow: visible;
  transition: transform 0.25s ;
}

.mark-crocodile {
  left: 273px;
  top: 216px;
}

.mark-eagle {
  left: 143px;
  top: 199px;
}

.mark-gorilla {
  left: 591px;
  top: 343px;
}

.mark-panda {
  left: 909px;
  top: 204px;
}

.markers:hover {
  transform: scale(1.392) translateY(-17.5px);
  transition: transform 0.25s ;
  cursor: pointer;
}

.markers:hover .stroke {
  stroke: #3888FF;
  stroke-width: 2px;
}

.active {
  transform: scale(1.392) translateY(-17.5px);
  transition: transform 0.25s ;
  cursor: pointer;
}

.active .stroke{
  stroke: #3888FF;
  stroke-width: 2px;
}

.gray-332-84 {
  width: 332px;
  height: 84px;
  color: #BCBCBC;
}

.picture.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 5px;
}

.picture {
  display: none;
}

