body {
  margin: 0 auto;
  margin-top: 25px;
  width: 100vw;
  display: flex;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active_site {
  font-weight: bolder !important;
  cursor: default !important;
}

@media screen and (min-width: 1800px) {

  body {
    overflow-x: hidden;
  }

}

@media screen and (min-width: 1170px) and (max-width: 1200px) {

  body {
    overflow-x: hidden;
    margin-top: 22px;
  }

}

@media screen and (max-width: 640px) and (min-width: 321px) {

  body {
    margin-top: 0;
  }

}
